 {% extends 'base.html' %}
 
 {% block content %}
 <style>
 </style>
    <div class="container">
        <div class="row mt-5">
            <div class="col-3">
                <div class="small-box bg-info m-1">
                    <div class="inner">
                      <h3>150</h3>
                      <h5 class="">Supplier</h5>
                    </div>
                    <div class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="{% url 'supplier' %}" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="small-box bg-success m-1">
                    <div class="inner">
                      <h3>150</h3>
                      <h5 class="">Products</h5>
                    </div>
                    <div class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="{% url 'product_list' %}" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="small-box bg-warning m-1">
                    <div class="inner">
                      <h3>150</h3>
                      <h5 class="">Transact</h5>
                    </div>
                    <div class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="{% url 'transaction_create' %}" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="small-box bg-danger m-1">
                    <div class="inner">
                      <h3>150</h3>
                      <h5 class="">Every Day Sales</h5>
                    </div>
                    <div class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="{% url 'transaction_list' %}" class="small-box-footer">
                      More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-100 ">
            <div class="row mr-5 mt-5 w-100">
                <div class="col-sm-6 border p-4">
                    <h4 class="text-center mb-4 fw-bolder">Status</h4>
                    <canvas id="assetPieChart"></canvas>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const ctx = document.getElementById('assetPieChart').getContext('2d');
            const data = {
                labels: ['Business Units', 'Departments', 'Asset Categories', 'Asset Models', 'Assets', 'Suppliers', 'Assigned Assets'],
                datasets: [{
                    data: [10, 10 , 50, 10, 40, 20, 35 ],
                    backgroundColor: [
                        '#227C9D', '#17C3B2', '#FFCB77', '#e6a377', '#dc3545', '#6f42c1', '#FE6D73'
                    ],
                    hoverBackgroundColor: [
                        '#0056b3', '#218838', '#e0a800', '#138496', '#c82333', '#5a1e91', '#e8590c'
                    ]
                }]
            };
    
            new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: { position: 'top' },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const label = context.label || '';
                                    const value = context.raw || 0;
                                    return `${label}: ${value}`;
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>

 {% endblock %}