{% extends "base.html" %}
{% block content %}
<h2>Transaction List</h2>
<table border="1" class="table table-striped">
    <tr>
        <th>Product</th>
        <th>Units</th>
        <th>Total Price</th>
        <th>Date</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.product.name }}</td>
        <td>{{ transaction.units }}</td>
        <td>{{ transaction.total_price }}</td>
        <td>{{ transaction.date }}</td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-secondary m-3" href="{% url 'product_list' %}">Back to Products</a>
{% endblock %}